<div class="container">
    <div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center mi-cv-titulo">Mi cv</h1>

                </div>
            </div>
    
<div class="row justify-content-center">
    <div class="col-md-9 d-flex justify-content-between">
        <h3>Experiencia</h3>
        <a href="#">Descargar cv</a>
    </div>

</div>
<div class="row justify-content-center">
    <div class="col-md-9 ">
    
        <div class="exp d-flex justify-content-between ">
                <div class="col-md-4">
                    <h5 class="titulo-exp text-primary">2019-presente</h5>
                    <p class="font-weight-bolder">Job position</p>
                    <p  class="company-name">Company name</p>

                </div>
                <div class="col-md-8">
                    <p >I'm a paragraph. Click here to add your own text and edit me. It’s easy.
                    
                        Just click “Edit Text” or double click me to add your own content and make changes to the font.


                    </br>
                </br>
                        I’m a great place for you to tell a story and let your users know a little more about you.</p>
                </div>
        </div>

        <div class="exp d-flex justify-content-between ">
            <div class="col-md-4">
                <h5 class="titulo-exp text-primary">2019-presente</h5>
                <p class="font-weight-bolder">Job position</p>
                <p  class="company-name">Company name</p>

            </div>
            <div class="col-md-8">
                <p >I'm a paragraph. Click here to add your own text and edit me. It’s easy.
                
                    Just click “Edit Text” or double click me to add your own content and make changes to the font.


                </br>
            </br>
                    I’m a great place for you to tell a story and let your users know a little more about you.</p>
            </div>
    </div>

 


    
</div>
</div>
<div class="row justify-content-center">
<div class="col-md-9 mt-5 mb-0 d-flex justify-content-between">
    <h3>Estudios</h3>
    
</div>

</div>
<div class="row justify-content-center">
<div class="col-md-9">

    <div class="exp d-flex justify-content-between ">
            <div class="col-md-4">
                <h5 class="titulo-exp text-primary">2015-2019</h5>
                <p class="font-weight-bolder">University name</p>
                <p  class="company-name">Carrera</p>

            </div>
            <div class="col-md-8">
                <p >I'm a paragraph. Click here to add your own text and edit me. It’s easy.
                
                    Just click “Edit Text” or double click me to add your own content and make changes to the font.


                <br/>
            <br/>
                    I’m a great place for you to tell a story and let your users know a little more about you.</p>
            </div>
    </div>

            
</div>
</div>

<div class="row justify-content-center mt-5">
<div class="col-md-9">

<div class="exp ">
        <h3 class="ml-3">Habilidades</h3>
        <div class="skills ml-3 d-flex flex-wrap justify-content-center">

            <p>pepa</p>
            <p>pepa</p>
            <p>pepa</p>
            <p>pepa</p>

            <p>pepa</p>
            <p>pepa</p>
            <p>pepa</p>
            <p>pepa</p>

        </div>
</div>







</div>
</div>
