<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-sm-12 d-flex tarjeta">

            <div class="p-0 flex-shrink-1  caja-1">
                <div class="imagen">

                </div>
                <h3 class="text-center">Maya </h3>
                <h3 class="text-center">Nelson </h3>

                <hr class="text-center">
                <h5 class="text-center mb-2">PROJECT MANAGER</h5>

                <ul class="boton-caja-1">
                    <li><a href="#">mi cv</a></li>
                    <li><a href="#">colleciones</a></li>

                </ul>

                <div class="footer-caja-1 text-center p-3">
                    
                    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </div>

            </div>
            <div class="p-3 w-80  caja-2">
                <h1 class="text-left titulo galeria">Hola</h1>
              
                <h3 class="text-left mt-4 mb-4">Here's who I am & what I do</h3>
              
                    <ul>
                        <li><a href="#">mi cv</a></li>
                        <li><a href="#">colleciones</a></li>

                    </ul>

                <p class="p-1 mt-4" >I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.



                    I’m a great place for you to tell a story and let your users know a little more about you.</p>
            </div>
        
        </div>
    </div>
</div>